@use "colors";
@use "fonts";
@use "boxes";

div.projectTitle {
    margin-bottom: 20px;

    h2 {margin: 17px 0 8px 0;}
    :first-child {text-transform: uppercase;}
}

div.eventInfo {
    @include boxes.iconTextIcon;
    border-radius: 10px;
    background: colors.$gray1;
    padding: 8px 8px 8px 15px;
    margin-bottom: 12px;

    div {@include fonts.smallText;}
    button {background: colors.$gray1;}
}

div.attendees{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.attendees div:first-child {
    h5{
        padding-bottom: 10px;
    }

    img {
        height: 24px;
        margin-right: -13px;
    }
}

div.attendees div:nth-child(2) {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    button{
        padding: 8px 10px 8px 8px;
    }
}