@use "colors";

$smallScreenWidth: 296px;

@mixin box($background: colors.$white, $padding: 40px, $margin: 12px) {
    border-radius: 15px;
    background: $background;
    padding: $padding;
    margin: $margin;
}

@mixin button($background: colors.$blue, $padding: 10px) {
    background: $background;
    padding: $padding;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: filter 0.25s;

    &:hover {filter: brightness(1.04);}
}
@mixin blankButton {
    background: #0000 !important;
    padding: 0 !important;
}

@mixin iconTextIcon {
    display: flex;
    align-items: center;

    > :nth-child(2) {
        flex-grow: 1;
        padding-left: 10px;
    }
}

@mixin textbubble($background: colors.$lightBlue, $padding: 10px) {
    background: $background;
    border: none;
    padding: $padding;
    border-radius: 10px 10px 3px 10px;
    width: 70%;
}

/*
@mixin breakPoint($breakPoint, $upperOrLower) {
    @if $breakPoint == 1 {
        @if $upperOrLower == lower {min-width: 0;}
        @else if $upperOrLower == upper {max-width: 780px;}
    }
    @else if $breakPoint == 2 {
        @if $upperOrLower == lower {min-width: 781px;}
        @else if $upperOrLower == upper {max-width: 1040px;}
    }
    @else if $breakPoint == 3 {
        @if $upperOrLower == lower {min-width: 1041px;}
        @else if $upperOrLower == upper {max-width: 100000000000000px;}
    }
}
*/