@use "colors";

@mixin box($background: colors.$white, $padding: 40px) {
    border-radius: 15px;
    background: $background;
    padding: $padding;
    margin: 10px;
}

@mixin button($background: colors.$blue, $padding: 5px) {
    background: $background;
    padding: $padding;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.25s;
}

@mixin iconTextIcon {
    display: flex;
    align-items: center;

    > :nth-child(2) {
        flex-grow: 1;
        padding-left: 10px;
    }
}

@mixin textbubble($background: colors.$blue, $padding: 10px) {
    background: $background;
    border: none;
    padding: $padding;
    border-radius: 10px;
    width: 70%;
}