@use "colors";

@mixin box($background: colors.$white, $padding: 40px) {
    border-radius: 15px;
    background: $background;
    padding: $padding;
    margin: 10px;
}

@mixin button($background: colors.$blue, $padding: 5px) {
    background: $background;
    padding: $padding;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}