@use 'colors';
@use 'boxes';
@use 'fonts';

div.chat button{
    @include boxes.button($background: colors.$gray1);
}

div.chat{
    display: flex;
    flex-direction: column;
    width: 40%;
}

div.activeProfile{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: colors.$gray1;
    border-radius: 10px;
    flex-grow: 2;
    img{
        height: 100px;
    }

    .callOptions{
        display: flex;
        justify-content: center;
        gap: 25px;

        .ellipsis{
            padding: 0px 5px;
        }
    }
}

div.chatText{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;

    h4{
        align-self: center;
    }

    div.textBubble{
        @include boxes.textbubble();
    }
    
    div.text1, div.text3, div.text4{
        align-self: flex-end;
    }
    
    div.text2{
        align-self: flex-start;
        background-color: colors.$gray1;
        border-radius: 10px 10px 10px 3px;
    }

    div.writeMessage{
        display: flex;
        justify-content: space-around;
        gap: 5px;
        background-color: colors.$gray1;
        padding: 5px;
        border-radius: 10px;

        input{
            border: none;
            background-color: inherit;
            padding: 0px 5px;
            width: 170px;
        }
    }
}

div.text4{
    display: flex;
    align-items: center;

    button.googleMeetLink{
        background: colors.$white;

        img{
            height: 20px;
        }
    }
    div{
        margin-left: 5px;

        :first-child{
            font-size: fonts.$smallText;
            margin-bottom: 3px;
        }
        :last-child{
            color: colors.$gray4;
            font-size: fonts.$smallerText;
        }
    }
}