@use "colors";

div.sideNav {
    display: flex;
    flex-direction: column;
}

div.sideNav li {list-style-type: none;}
div.sideNav a {
    text-decoration: none;
    color: colors.$gray4;
    transition: 0.25s;
}
div.sideNav a.currentPage, div.sideNav a:hover {
    color: colors.$black;
}

ul.nav i {
    margin-right: 15px;
}

// This will effect the page logo.
div.sideNav > img {
    display: block;
    margin-bottom: 50px;
    $logoHeight: 40px;
    height: $logoHeight;
    width: calc($logoHeight * 113 / 43);
    // The logo's width and height have a ratio of 113:43 or approximately 139.19:45
}