@use "colors";
@use "box";


div.sideNav {
    width: 20%;

    li {list-style-type: none;}
    a {
        text-decoration: none;
    color: colors.$gray4;
    transition: 0.25s;
    }
}
div.sideNav a.currentPage, div.sideNav a:hover {
    color: colors.$black;
}

div.sideNav ul i {
    margin-right: 15px;
}

// This will effect the page logo.
div.sideNav > img {
    display: block;
    height: 40px;
    margin-bottom: 50px;
}

div.upgrade {
    @include box.box($padding: 20px 30px);
    margin: 120px 0 70px 0;

}