@use "colors";


div.sideNav li {list-style-type: none;}
div.sideNav a {
    text-decoration: none;
    color: colors.$gray4;
    transition: 0.25s;
}
div.sideNav a.currentPage, div.sideNav a:hover {
    color: colors.$black;
}

ul.nav i {
    margin-right: 15px;
}

// This will effect the page logo.
div.sideNav > img {
    display: block;
    height: 40px;
}