@use "colors";
@use "boxes";
@use 'fonts';

%smallScreenFont {
    @media screen and (max-width: 780px) {
        font-size: fonts.$smallerText;
    }
}

.topBar{
    display: flex;
    gap: 10px;

    @media screen and (max-width: 780px) {
        width: boxes.$smallScreenWidth;
        flex-direction: column;
    }
    @media screen and (min-width: 781px) {
        justify-content: space-between;
    }
}

button.hamburgerMenu{
    @include boxes.blankButton;
    
    font-size: 35px;
    margin-right: 15px;

    @media screen and (min-width: 1041px) {
        display: none;
    }
}

div.topBar button{
    @include boxes.button($background: colors.$gray1);
}

.left{
    display: flex;
    height: 40px;

    @media screen and (max-width: 780px) {
        justify-content: space-between;
    }

    .accountInfo{
        display: flex;
        border-right: 1px solid colors.$gray3;
        padding-right: 15px;

        .profilePic1{
            height: 40px;
            padding-right: 10px;
        }
        > :last-child *{
            @extend %smallScreenFont;
        }
    }
    
    .calendar{
        margin-left: 15px;

        @extend %smallScreenFont;
    }
}

.right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
    

    .search{
        border: none;
        background-color: colors.$gray1;
        border-radius: 40px;
        padding: 0px 20px;
    }

    .notifications, .messages{
        padding: 0px 15px;
    }
}

