@use "colors";
@use "boxes";
@use 'fonts';

.topBar{
    display: flex;
    justify-content: space-between;
}

div.topBar button{
    @include boxes.button($background: colors.$gray1);
}

.left{
    display: flex;
    .accountInfo{
        display: flex;
        border-right: 1px solid colors.$gray3;
        padding-right: 15px;

        .profilePic1{
            height: 40px;
            padding-right: 10px;
        }
    }
    
    .calendar{
        margin-left: 15px;
        padding: 15px;
    }
}

.right{
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .search{
        border: none;
        background-color: colors.$gray1;
        border-radius: 40px;
        padding: 0px 20px;
    }
}

