@use "colors";
@use "fonts";
@use "boxes";
@use "sideNav";
@use "topBar";
@use "chat";
@use "team";
@use "agenda";

* {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

body {
    background: colors.$gray3;
    margin: 30px;
}

h2 {font-size: 18px;}

p {
    font-size: fonts.$smallText;
    color: colors.$gray4;
}

div.container {
    display: flex;
    justify-content: center;
}

div.chat {@include boxes.box($padding: 20px);}

div.team, div.agenda {@include boxes.box($padding: 30px);}

div.topBar {
    @media screen and (max-width: 780px) {@include boxes.box($padding: 15px 20px);}
    @media screen and (min-width: 781px) {@include boxes.box($padding: 15px);}
}

div.chat {
    @media screen and (max-width: 780px) {
        width: calc(boxes.$smallScreenWidth);
    }
    @media screen and (min-width: 781px) {width: 50%;}
}
div.rightColumn {
    @media screen and (max-width: 780px) {
        width: boxes.$smallScreenWidth + 64px;
    }
    @media screen and (min-width: 781px) {width: 50%;}
}

div.main {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 780px) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 781px) {flex-direction: row;}
}

button {@include boxes.button;}
button:hover {filter: brightness(1.04);}