// Background Colors
$pageBackgroundColor: #e6e6ff;
$white: #fff;
$lightBlue1: #eef6ff;
$lightBlue2: #dcebff;


@mixin borderRadius($background: $white) {
    border-radius: 10px;
    background: $background;
    padding: 15px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: $pageBackgroundColor;
    margin: 70px;
}

.box {
    @include borderRadius;
}