// Background Colors
$white: #fff;
$gray1: #ebebeb;
$gray2: #e5e5e5;
$gray3: #d6d6d6;


@mixin borderRadius($background: $white) {
    border-radius: 10px;
    background: $background;
    padding: 15px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: $gray3;
    margin: 70px;
}

div.container {
    display: flex;
}

.topBar {
    @include borderRadius();
}